.header {
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.header > h3, h5 {
    margin: 0;
    padding-top: 20px;
    text-align: center;
}


h5 {
  font-weight: bold;
  font-size: 19px;
}
circle:hover {
  stroke: black;
}

#graph4 {
  margin-left:30px;
}

.butto {
  transform: translate(500px, -400px);
}

.row1 {
  display: flex;
  flex-direction: row;
}
/* Include any custom CSS styling here! */
